<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG-Suite">
	<test name="TestNG-Test">
		<parameter name ="UserName" value="abc1234"></parameter>
		<parameter name="Password"  value="pwd1234"></parameter>
		
		<groups >
			<run>
				<include name="pets"/>
			</run>
			
			
		</groups>
		
		<classes>
			<class name ="testngtests.TestNGAnnotations"/>
			<class name="testngtests.TestNGAssertions"/>
			<class name ="testngtests.TestNGDependencyTest"/>
			<class name="testngtests.TestNGPrioritizing"/>
			<class name="testngtests.TestNGGroup"/>
		</classes>
	
	</test>

</suite>